@{
    ViewData["Title"] = "Home Page";
}
<h1 class="my-4">
    Aprender
    <small>é um processo para a vida toda.</small>
</h1>

<div class="row">

    <!-- Card 1 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 1 Front -->
            <div class="card front">
                <div class="cover">
                    <img src="images/rotating_card_thumb.jpg" />
                </div>
                <div class="user">
                    <img src="images/usuarios/rotating_card_profile3.png" class="rounded-circle" />
                </div>
                <div class="card-block content">
                    <h6 class="card-subtitle mb-2 text-muted">João da Silva</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@@jpsilva</h6>
                    <h4 class="card-title">Qual a melhor divisão de treino?</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text text-center"><small class="text-muted">09/04/2019</small></p>
                </div>
            </div>
            <!-- End Card 1 Front -->
            <!-- Card 1 Back -->
            <div class="card back text-center">
                <div class="card-header">Resumo</div>
                <div class="card-block content">
                    <h4 class="card-title">Qual a melhor divisão de treino?</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="article.html" class="btn btn-primary text-center">Leia mais</a>
                </div>
            </div>
            <!-- End Card 1 Back -->
        </div>
    </div>
    <!-- End Card 1 -->
    <!-- Card 2 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 2 Front -->
            <div class="card front">
                <div class="cover">
                    <img src="images/rotating_card_thumb.jpg" />
                </div>
                <div class="user">
                    <img src="images/usuarios/rotating_card_profile2.png" class="rounded-circle" />
                </div>
                <div class="card-block content">
                    <h6 class="card-subtitle mb-2 text-muted">André Oswaldo</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@@andreow</h6>
                    <h4 class="card-title">Como obter fotos profissionais usando o celular?</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="card-text text-center"><small class="text-muted">09/04/2019</small></p>
                </div>
            </div>
            <!-- End Card 2 Front -->
            <!-- Card 2 Back -->
            <div class="card back text-center">
                <div class="card-header">Resumo</div>
                <div class="card-block content">
                    <h4 class="card-title">Como obter fotos profissionais usando o celular?</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</br>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="article.html" class="btn btn-primary text-center">Leia mais</a>
                </div>
            </div>
            <!-- End Card 2 Back -->
        </div>
    </div>
    <!-- End Card 2 -->
    <!-- Card 8 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 8 Front -->
            <div class="card front">
                <div class="cover">
                    <img src="images/rotating_card_thumb.jpg" />
                </div>
                <div class="user">
                    <img src="images/usuarios/rotating_card_profile.png" class="rounded-circle" />
                </div>
                <div class="card-block content">
                    <h6 class="card-subtitle mb-2 text-muted">Maria das Dores</h6>
                    <h6 class="card-subtitle mb-2 text-muted">@@mdores</h6>
                    <h4 class="card-title">Aprenda a tingir o cabelo sozinho.</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur.</br> Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    <p class="card-text text-center"><small class="text-muted">09/04/2019</small></p>
                </div>
            </div>
            <!-- End Card 8 Front -->
            <!-- Card 8 Back -->
            <div class="card back text-center">
                <div class="card-header">Resumo</div>
                <div class="card-block content">
                    <h4 class="card-title">Aprenda a tingir o cabelo sozinho.</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="article.html" class="btn btn-primary text-center">Leia mais</a>
                </div>
            </div>
            <!-- End Card 8 Back -->
        </div>
        <!-- End Card 8 -->
    </div>

</div>