<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - MVP - Smart Solutions</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- fontawesome core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>
    <vc:menu></vc:menu>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-9">
                @RenderBody()
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-3">

                <vc:busca></vc:busca>

                <vc:categorias></vc:categorias>

                <!-- Side Widget -->
                <div class="card my-3">
                    <h5 class="card-header">Sobre</h5>
                    <div class="card-body">
                        Nossa missão é prover instruções úteis para conectar as pessoas ajudando-as a resolver os problemas do dia-a-dia, alcançando suas metas e seus sonhos.
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-secondary">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Smart Solutions 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>