<!-- Search Widget -->
<div class="input-group my-3">
    <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
    </span>
    <input class="form-control py-2 border-left-0 border bg-outline-secondary" type="search" value="..." id="example-search-input">
    <span class="input-group-append">
        <button class="btn btn-secondary navbar-ct-blue border-left-0 border" type="button">
            Buscar
        </button>
    </span>
</div>